.elementor-1792 .elementor-element.elementor-element-2beff3c {
	--display: flex;
	--min-height: 80px;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--flex-wrap: wrap;
	--background-transition: 0.3s;
	--z-index: 100;
}

.elementor-1792 .elementor-element.elementor-element-efa88bc {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-start;
	--align-items: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1792 .elementor-element.elementor-element-efa88bc.e-con {
	--flex-grow: 1;
	--flex-shrink: 0;
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-e728136 {
	text-align: left;
}

.elementor-1792 .elementor-element.elementor-element-e728136 img {
	width: 160px;
	filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	transition-duration: 0.3s;
}

.elementor-1792 .elementor-element.elementor-element-e728136:hover img {
	opacity: 0.8;
}

.elementor-1792 .elementor-element.elementor-element-e08cf51 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-start;
	--align-items: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1792 .elementor-element.elementor-element-e08cf51.e-con {
	--flex-grow: 1;
	--flex-shrink: 0;
}

.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-text);
	fill: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-accent);
	fill: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before,
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-accent);
}

.elementor-widget-nav-menu {
	--e-nav-menu-divider-color: var(--e-global-color-text);
}

.elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-item, .elementor-widget-nav-menu .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-1792 .elementor-element.elementor-element-83202fc.elementor-element {
	--flex-grow: 1;
	--flex-shrink: 0;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-menu-toggle {
	margin: 0 auto;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-d8bd295);
	fill: var(--e-global-color-d8bd295);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main .elementor-item:hover,
.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-8d2148f);
	fill: var(--e-global-color-8d2148f);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-8d2148f);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed .elementor-item:before,
.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-8d2148f);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: var(--e-global-color-9a71c60);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
	background-color: var(--e-global-color-8d2148f);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed .elementor-item.elementor-item-active:after {
	border-color: var(--e-global-color-8d2148f);
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed .elementor-item:before {
	border-width: 1px;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed.e--animation-draw .elementor-item:before {
	border-width: 0 0 1px 1px;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed.e--animation-draw .elementor-item:after {
	border-width: 1px 1px 0 0;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed.e--animation-corners .elementor-item:before {
	border-width: 1px 0 0 1px;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-framed.e--animation-corners .elementor-item:after {
	border-width: 0 1px 1px 0;
}

.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-underline .elementor-item:after,
.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-overline .elementor-item:before,
.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-double-line .elementor-item:before,
.elementor-1792 .elementor-element.elementor-element-83202fc .e--pointer-double-line .elementor-item:after {
	height: 1px;
}

.elementor-1792 .elementor-element.elementor-element-3bb546b {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-end;
	--align-items: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1792 .elementor-element.elementor-element-3bb546b.e-con {
	--flex-grow: 1;
	--flex-shrink: 0;
}

.elementor-widget-jet-button .jet-button__plane-normal {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-jet-button .jet-button__plane-hover {
	background-color: var(--e-global-color-secondary);
}

.elementor-widget-jet-button .jet-button__state-normal .jet-button__label {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-jet-button .jet-button__state-hover .jet-button__label {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__plane-normal {
	background-color: transparent;
	background-image: linear-gradient(120deg, var(--e-global-color-9a71c60) 0%, var(--e-global-color-d8bd295) 100%);
	border-radius: 6px 6px 6px 6px;
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__plane-hover {
	background-color: transparent;
	background-image: linear-gradient(200deg, var(--e-global-color-8d2148f) 0%, var(--e-global-color-d8bd295) 100%);
	border-radius: 6px 6px 6px 6px;
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__container {
	justify-content: flex-start;
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-normal .jet-button__label {
	text-align: left;
	color: var(--e-global-color-primary);
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-hover .jet-button__label {
	text-align: left;
	color: var(--e-global-color-secondary);
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-normal .jet-button__label {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-hover .jet-button__label {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-f6acd6d {
	--display: flex;
	--min-height: 80px;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--flex-wrap: wrap;
	--background-transition: 0.3s;
}

.elementor-1792 .elementor-element.elementor-element-ca5284a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-start;
	--align-items: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1792 .elementor-element.elementor-element-ca5284a.e-con {
	--flex-grow: 1;
	--flex-shrink: 0;
}

.elementor-widget-theme-site-logo .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-eb8cdfa {
	text-align: left;
}

.elementor-1792 .elementor-element.elementor-element-eb8cdfa img {
	width: 160px;
	transition-duration: 0.3s;
}

.elementor-1792 .elementor-element.elementor-element-eb8cdfa:hover img {
	filter: brightness(115%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-1792 .elementor-element.elementor-element-8fda8b5 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: flex-end;
	--align-items: center;
	--background-transition: 0.3s;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-1792 .elementor-element.elementor-element-8fda8b5.e-con {
	--flex-grow: 1;
	--flex-shrink: 0;
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__plane-hover {
	background-color: transparent;
	background-image: linear-gradient(200deg, var(--e-global-color-primary) 0%, var(--e-global-color-secondary) 100%);
	border-radius: 6px 6px 6px 6px;
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__container {
	justify-content: flex-start;
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__plane-normal {
	background-color: transparent;
	background-image: linear-gradient(120deg, var(--e-global-color-primary) 0%, var(--e-global-color-secondary) 100%);
	border-radius: 6px 6px 6px 6px;
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-normal .jet-button__label {
	text-align: left;
	color: var(--e-global-color-d8bd295);
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-hover .jet-button__label {
	text-align: left;
	color: var(--e-global-color-d8bd295);
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-normal .jet-button__label {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-hover .jet-button__label {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-widget-lottie {
	--caption-color: var(--e-global-color-text);
}

.elementor-widget-lottie .e-lottie__caption {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-size: var(--e-global-typography-text-font-size);
	font-weight: var(--e-global-typography-text-font-weight);
	line-height: var(--e-global-typography-text-line-height);
}

.elementor-1792 .elementor-element.elementor-element-4e435f4>.elementor-widget-container {
	margin: 5px 0px 0px 0px;
}

.elementor-1792 .elementor-element.elementor-element-4e435f4 {
	--lottie-container-width: 40px;
}

.elementor-theme-builder-content-area {
	height: 400px;
}

.elementor-location-header:before, .elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}

@media(min-width:768px) {
	.elementor-1792 .elementor-element.elementor-element-efa88bc {
		--width: 22%;
	}

	.elementor-1792 .elementor-element.elementor-element-e08cf51 {
		--width: 45%;
	}

	.elementor-1792 .elementor-element.elementor-element-3bb546b {
		--width: 25%;
	}

	.elementor-1792 .elementor-element.elementor-element-f6acd6d {
		--width: 100%;
	}

	.elementor-1792 .elementor-element.elementor-element-ca5284a {
		--width: 20%;
	}

	.elementor-1792 .elementor-element.elementor-element-8fda8b5 {
		--width: 30%;
	}
}

@media(max-width:1366px) and (min-width:768px) {
	.elementor-1792 .elementor-element.elementor-element-efa88bc {
		--width: 23%;
	}

	.elementor-1792 .elementor-element.elementor-element-e08cf51 {
		--width: 43%;
	}

	.elementor-1792 .elementor-element.elementor-element-3bb546b {
		--width: 25%;
	}

	.elementor-1792 .elementor-element.elementor-element-ca5284a {
		--width: 15%;
	}

	.elementor-1792 .elementor-element.elementor-element-8fda8b5 {
		--width: 38%;
	}
}

@media(max-width:1200px) and (min-width:768px) {
	.elementor-1792 .elementor-element.elementor-element-efa88bc {
		--width: 50%;
	}

	.elementor-1792 .elementor-element.elementor-element-e08cf51 {
		--width: 50%;
	}

	.elementor-1792 .elementor-element.elementor-element-f6acd6d {
		--width: 100%;
	}

	.elementor-1792 .elementor-element.elementor-element-ca5284a {
		--width: 20%;
	}

	.elementor-1792 .elementor-element.elementor-element-8fda8b5 {
		--width: 50%;
	}
}

@media(min-width:2400px) {
	.elementor-widget-image .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-theme-site-logo .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-lottie .e-lottie__caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}
}

@media(max-width:1366px) {
	.elementor-widget-image .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-theme-site-logo .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-lottie .e-lottie__caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}
}

@media(max-width:1200px) {
	.elementor-1792 .elementor-element.elementor-element-83202fc.elementor-element {
		--flex-grow: 1;
		--flex-shrink: 0;
	}

	.elementor-1792 .elementor-element.elementor-element-f6acd6d {
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-1792 .elementor-element.elementor-element-4e435f4>.elementor-widget-container {
		margin: 5px 0px 0px 0px;
	}

	.elementor-1792 .elementor-element.elementor-element-4e435f4 {
		--lottie-container-width: 40px;
	}
}

@media(max-width:1024px) {
	.elementor-widget-image .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-theme-site-logo .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-lottie .e-lottie__caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}
}

@media(max-width:767px) {
	.elementor-widget-image .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-83202fc .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-f190ca9 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-ca5284a {
		--width: 50%;
	}

	.elementor-widget-theme-site-logo .widget-image-caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-8fda8b5 {
		--width: 40%;
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-normal .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-1792 .elementor-element.elementor-element-63b4da0 .jet-button__state-hover .jet-button__label {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}

	.elementor-widget-lottie .e-lottie__caption {
		font-size: var(--e-global-typography-text-font-size);
		line-height: var(--e-global-typography-text-line-height);
	}
}